@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font: 400 1.25em/1.5 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(20, 50, 100);
  color: white;
}

#login-button {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

#placeholder-image {
  padding-top: 20px;
}

#placeholder-image img {
  width: 25%;
  min-width: 300px;
  display: block;
  margin: auto;
  user-drag: none; 
  -moz-user-select: none;
  -webkit-user-drag: none;
}

#title-text {
  font-family: 'Bitter', serif;
  text-align: center;
}

#main-title {
  font-weight: 700;
  font-size: 2.8em;
}

#subtitle {
  font-weight: 400;
  font-size: 2em;
}

button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 1em 1.3em;
  margin: 0 10px;
  font: 700 18px/1 "Open Sans", sans-serif;
  letter-spacing: 1px;
  border: none;
  color: white;
  position: relative;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button.facebook {
  font: 400 16px/1 "Open Sans", sans-serif;
  margin: 30px auto;
  padding-left: 70px;
  background: rgb(74, 110, 169) url("../img/facebook-icon.png") left no-repeat;
  background-size: contain;
}

button#post {
	display: none;
}

div.privacy {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 450px;
  font-weight: 400;
  font-size: 15px;
}

div.privacy p {
  padding: 5px 0;
}

div.privacy p:last-child {
  padding-bottom: 15px;
}

#facebook-signin {
  text-align: center;
  padding-top: 25px;
}

.form-link {
  /*font-family: 'Lato';*/
  text-decoration: none;
  /*font-size: 18px;*/
  color: #fff;
  /*font-weight: 300;*/
  margin: 0 2px;
  position: relative;
}

.form-link:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: '';
  opacity: .3;
  -webkit-transform: scaleX(.9);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

.form-link:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
}