<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yale Pride | The Game 2015</title>
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/home.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="../static/js/index.js"></script>
</head>
<body>

<div id="main-container">
	<div id="placeholder-image">
		<img id="intern-image" src="../static/img/logo.png" />
	</div>
	<div id="title-text">
		<p id="main-title">The Game 2015</p>
		<p id="subtitle">Show your Yale pride.</p>
	</div>
	<div id="facebook-signin">
		<button class="facebook" id="login">Get Started</button>
		<div class = "privacy" id="login">
			<p>The Game 2015 is coming up this weekend! Show your Yale pride by adding a banner to your Facebook profile picture.</p>
			<p> Note: This app asks for permissions to post because a new picture needs to be posted on your Wall and used as your new profile picture. This app will not post anything else.</p>
		</div>
		<button class="facebook" id="post">Make profile picture</button>
	</div>
	<canvas style="display: none" id="picture"width="800" height="800"></canvas>
</div>

</body>
</html>