<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yale Pride | The Game 2015</title>
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/home.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="../static/js/index.js"></script>
</head>
<body>

<div id="main-container">
	<div id="placeholder-image">
		<img id="intern-image" src="../static/img/logo.png" />
	</div>
	<div id="title-text">
		<p id="main-title">The Game 2015</p>
		<p id="subtitle">Show your Yale pride.</p>
	</div>
	<div id="facebook-signin">
		<button class="facebook login">Get Started</button>
		<div class = "privacy login">
			<p>The Game 2015 is coming up this weekend! Show your Yale pride by adding a banner to your Facebook profile picture.</p>
			<p>Getting an error? We're still waiting on the app to be approved by Facebook, but if you drop a link to your Facebook profile on <a class="form-link" target="_blank" href="http://goo.gl/forms/6rNgRDgjiM">this form</a>, we'll add you internally right away.</p>
			<p> Note: This app requests permission to post on your behalf in order to upload the filtered profile picture. We do not post anything else to your profile, nor do we collect any personal information at all.</p>
		</div>
		<button class="facebook" id="post">Make profile picture</button>
	</div>
	<canvas style="display: none" id="picture"width="800" height="800"></canvas>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70404314-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>